/* Website template by freewebsitetemplates.com */

#body div#home div.sidebar ul li {
	margin: 10px 0 0;
}

#body div div.sidebar ul li {
	margin: 93px 0 0;
}

#footer div.section ul li p {
	width: 200px;
}