<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>About - Motion Website Template</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<!--[if IE 8]>
		<link rel="stylesheet" type="text/css" href="css/ie8.css">
	<![endif]-->
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="css/ie7.css">
	<![endif]-->
	<!--[if IE 6]>
		<link rel="stylesheet" type="text/css" href="css/ie6.css">
	<![endif]-->
</head>
<body>
	<div id="header">
		<div>
			<div id="logo">
			<a href="index.html"><img src="images/logo.gif" alt="Logo"></a>
			</div>
			<div id="navigation">
				<div>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li class="current"><a href="about.html">About us</a></li>
						<li><a href="gallery.html">Gallery</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contact.html">Contact us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="body">
		<div>
			<div class="sidebar">
				<ul>
					<li class="first">
						<h3>The Guide book</h3>
						<a href="index.html"><img src="images/guide-book2.jpg" alt="Image"></a>
						<p>Nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim minim veniam, quis nostrut exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
					</li>
					<li>
						<h3>E-mail us</h3>
						<a href="index.html"><img src="images/email2.jpg" alt="Image"></a>
						<p>Nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim minim veniam, quis nostrut exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
					</li>
					<li>
						<h3>Best place for Photoshoots</h3>
						<a href="index.html"><img src="images/home2.jpg" alt="Image"></a>
						<p>Nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim minim veniam, quis nostrut exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
					</li>
				</ul>
			</div>
			<div class="content">
				<h3 class="first">We Have Free Templates for Everyone</h3>
				<p>Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What's more, they're absolutely free! You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with the <a href="http://www.freewebsitetemplates.com/about/termsofuse/">Terms of Use</a>. You can even remove all our links if you want to.</p>
				<h3>We Have More Templates for You</h3>
				<p>Looking for more templates? Just browse through all our <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> and find what you're looking for. But if you don't find any website template you can use, you can try our <a href="http://www.freewebsitetemplates.com/freewebdesign/">Free Web Design</a> service and tell us all about it. Maybe you're looking for something different, something special. And we love the challenge of doing something different and something special.</p>
				<h3>Be Part of Our Community</h3>
				<p>If you're experiencing issues and concerns about this website template, join the discussion <a href="http://www.freewebsitetemplates.com/forum/">on our forum</a> and meet other people in the community who share the same interests with you.</p>
				<h3>Template details</h3>
				<p>Version 17<br> Website Template details, discussion and updates for this <a href="http://www.freewebsitetemplates.com/discuss/motionwebsitetemplate/">Motion Website Template</a>.<br> Website Template design by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a>.<br> Please feel free to remove some or all the text and links of this page and replace it with your own About content.</p>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<div>
				<span>Blog Archive</span>
				<ul>
					<li class="first">
						<h2><a href="blog.html">Motion in the making</a></h2>
						<span class="date">Dec 03&#44; 2011</span>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed aliam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
						<a href="blog.html" class="readmore">Read more</a>
					</li>
					<li>
						<h2><a href="blog.html">Outdoor Photoshoot</a></h2>
						<span class="date">Dec 03&#44; 2011</span>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed aliam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
						<a href="blog.html" class="readmore">Read more</a>
					</li>
					<li>
						<h2><a href="blog.html">How we make it</a></h2>
						<span class="date">Dec 03&#44; 2011</span>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed aliam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
						<a href="blog.html" class="readmore">Read more</a>
					</li>
				</ul>
			</div>
		</div>
		<p class="footnote">&copy; 2010 Motion. All Rights Reserved.</p>
	</div>
</body>
</html>