<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Blog - Motion Graphx</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<!--[if IE 8]>
		<link rel="stylesheet" type="text/css" href="css/ie8.css">
	<![endif]-->
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="css/ie7.css">
	<![endif]-->
	<!--[if IE 6]>
		<link rel="stylesheet" type="text/css" href="css/ie6.css">
	<![endif]-->
</head>
<body>
	<div id="header">
		<div>
			<div id="logo">
			<a href="index.html"><img src="images/logo.gif" alt="Logo"></a>
			</div>
			<div id="navigation">
				<div>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About us</a></li>
						<li><a href="gallery.html">Gallery</a></li>
						<li class="current"><a href="blog.html">Blog</a></li>
						<li><a href="contact.html">Contact us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="body">
		<div>
			<div class="sidebar">
				<div>
					<h2>Blog Archive</h2>
					<h3 class="first"><a href="index.html">2011 <span>(60)</span></a></h3>
					<div>
						<p><a href="index.html">December <span>(1)</span></a></p>
						<p><a href="index.html">November <span>(11)</span></a></p>
						<p><a href="index.html">October <span>(3)</span></a></p>
						<p><a href="index.html">September <span>(8)</span></a></p>
						<p><a href="index.html">August <span>(2)</span></a></p>
						<p><a href="index.html">July <span>(3)</span></a></p>
						<p><a href="index.html">June </a></p>
						<p><a href="index.html">May <span>(8)</span></a></p>
						<p><a href="index.html">April <span>(7)</span></a></p>
						<p><a href="index.html">March <span>(7)</span></a></p>
						<p><a href="index.html">February <span>(10)</span></a></p>
						<p><a href="index.html">January <span>(1)</span></a></p>
					</div>
					<h3><a href="index.html">2010</a></h3>
					<h3><a href="index.html">2009</a></h3>
				</div>
			</div>
			<div class="content">
				<ul>
					<li class="first">
						<span>Jean M<br>Dec 3</span>
						<div>
							<h1><a href="index.html">Motion in the Making</a></h1>
							<p>Lorem ipsumdolor sit amet, consec tetuer adipis cing elitsed diam non ummy nibh euismod tincidunt ut laoreet dolore magna.  Aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus.</p>
						</div>	
					</li>
					<li>
						<span>Ryan R<br>Nov 29</span>
						<div>
							<h1><a href="index.html">Outdoor Photoshoot</a></h1>
							<p>Lorem ipsumdolor sit amet, consec tetuer adipis cing elitsed diam non ummy nibh euismod tincidunt ut laoreet dolore magna.  Aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
						</div>
					</li>
					<li>
						<span>Mindy H<br>Nov 11</span>
						<div>
							<h1><a href="index.html">How to Make it Real</a></h1>
							<p>Lorem ipsumdolor sit amet, consec tetuer adipis cing elitsed diam non ummy nibh euismod tincidunt ut laoreet dolore magna.  Aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
						</div>
					</li>
				</ul>
				<div id="paging">
					<span class="first"><a href="index.html">First</a></span>
					<ul>
						<li class="current"><a href="index.html">1</a></li>
						<li><a href="index.html">2</a></li>
						<li><a href="index.html">3</a></li>
						<li><a href="index.html">4</a></li>
					</ul>
					<span class="last"><a href="index.html">Last</a></span>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="section">
			<ul>
				<li class="first">
					<h3>The Guide book</h3>
					<a href="index.html"><img src="images/guide-book3.jpg" alt="Image"></a>
					<p>Nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim minim veniam, quis nostrut exerci tation ullamcorper suscipit lobortis nisl ut aliquip. <a href="index.html" class="readmore">Read more</a></p>
				</li>
				<li>
					<h3>E-mail us</h3>
					<a href="index.html"><img src="images/email3.jpg" alt="Image"></a>
					<p>Nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim minim veniam, quis nostrut exerci tation ullamcorper suscipit lobortis nisl ut aliquip. <a href="index.html" class="readmore">Read more</a></p>
				</li>
				<li>
					<h3>Best place for Photoshoots</h3>
					<a href="index.html"><img src="images/home3.jpg" alt="Image"></a>
					<p>Nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim minim veniam, quis nostrut exerci tation ullamcorper suscipit lobortis nisl ut aliquip. <a href="index.html" class="readmore">Read more</a></p>
				</li>
			</ul>
		</div>
		<p class="footnote">&copy; 2010 Motion. All Rights Reserved.</p>
	</div>
</body>
</html>