<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Contact Us - Motion Graphx</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<!--[if IE 8]>
		<link rel="stylesheet" type="text/css" href="css/ie8.css">
	<![endif]-->
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="css/ie7.css">
	<![endif]-->
	<!--[if IE 6]>
		<link rel="stylesheet" type="text/css" href="css/ie6.css">
	<![endif]-->
</head>
<body>
	<div id="header">
		<div>
			<div id="logo">
			<a href="index.html"><img src="images/logo.gif" alt="Logo"></a>
			</div>
			<div id="navigation">
				<div>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About us</a></li>
						<li><a href="gallery.html">Gallery</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li class="current"><a href="contact.html">Contact us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="body">
		<div>
			<div id="connect">
				<h3>Follow us</h3>
				<a href="http://facebook.com/freewebsitetemplates" target="_blank" id="facebook">Facebook</a>
				<a href="#" id="subscribe">Subscribe</a>
				<a href="http://twitter.com/fwtemplates" target="_blank" id="twitter">Twitter</a>
				<a href="http://www.flickr.com/freewebsitetemplates/" target="_blank" id="flicker">Flicker</a>
			</div>
			<div id="contact">
				<h3 class="first">Customer Service</h3>
				<p>E-mail: <a href="#">freewebsitetemplates.com/forum</a></p>
				<p>Call or e-mail us for help with any aspect of your purchase, online or offline.</p>
				<b>Call toll-free: 877 000 0000<br> Call toll-free: 866 000 0000<br> Toll-free fax: 877 000 0000</b>
				<h3>Mailing Addresses</h3>
				<p>Petshop</p>
				<p>250 Lorem ipsum Street</p>
				<p>4th Floor</p>
				<p>Jaofanr, Caknan 109935</p>
				<p>Kiangab</p>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<div>
				<span>Blog Archive</span>
				<ul>
					<li class="first">
						<h2><a href="blog.html">Motion in the making</a></h2>
						<span class="date">Dec 03&#44; 2011</span>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed aliam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
						<a href="blog.html" class="readmore">Read more</a>
					</li>
					<li>
						<h2><a href="blog.html">Outdoor Photoshoot</a></h2>
						<span class="date">Dec 03&#44; 2011</span>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed aliam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
						<a href="blog.html" class="readmore">Read more</a>
					</li>
					<li>
						<h2><a href="blog.html">How we make it</a></h2>
						<span class="date">Dec 03&#44; 2011</span>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed aliam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
						<a href="blog.html" class="readmore">Read more</a>
					</li>
				</ul>
			</div>
		</div>
		<p class="footnote">&copy; 2010 Motion. All Rights Reserved.</p>
	</div>
</body>
</html>