<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Gallery - Motion Graphx</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<!--[if IE 8]>
		<link rel="stylesheet" type="text/css" href="css/ie8.css">
	<![endif]-->
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="css/ie7.css">
	<![endif]-->
	<!--[if IE 6]>
		<link rel="stylesheet" type="text/css" href="css/ie6.css">
	<![endif]-->
</head>
<body>
	<div id="header">
		<div>
			<div id="logo">
			<a href="index.html"><img src="images/logo.gif" alt="Logo"></a>
			</div>
			<div id="navigation">
				<div>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About us</a></li>
						<li class="current"><a href="gallery.html">Gallery</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contact.html">Contact us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="body">
		<div id="gallery">
			<ul>
				<li>
					<a href="index.html"><img src="images/gallery1.jpg" alt="Image"></a>
					<div>
						<ul>
							<li><a class="view" href="index.html">View</a></li>
							<li><a class="info" href="index.html">Info</a></li>
							<li><a class="download" href="index.html">Download</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="index.html"><img src="images/gallery2.jpg" alt="Image"></a>
					<div>
						<ul>
							<li><a class="view" href="index.html">View</a></li>
							<li><a class="info" href="index.html">Info</a></li>
							<li><a class="download" href="index.html">Download</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="index.html"><img src="images/gallery3.jpg" alt="Image"></a>
					<div>
						<ul>
							<li><a class="view" href="index.html">View</a></li>
							<li><a class="info" href="index.html">Info</a></li>
							<li><a class="download" href="index.html">Download</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="index.html"><img src="images/gallery4.jpg" alt="Image"></a>
					<div>
						<ul>
							<li><a class="view" href="index.html">View</a></li>
							<li><a class="info" href="index.html">Info</a></li>
							<li><a class="download" href="index.html">Download</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="index.html"><img src="images/gallery5.jpg" alt="Image"></a>
					<div>
						<ul>
							<li><a class="view" href="index.html">View</a></li>
							<li><a class="info" href="index.html">Info</a></li>
							<li><a class="download" href="index.html">Download</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="index.html"><img src="images/gallery6.jpg" alt="Image"></a>
					<div>
						<ul>
							<li><a class="view" href="index.html">View</a></li>
							<li><a class="info" href="index.html">Info</a></li>
							<li><a class="download" href="index.html">Download</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="index.html"><img src="images/gallery7.jpg" alt="Image"></a>
					<div>
						<ul>
							<li><a class="view" href="index.html">View</a></li>
							<li><a class="info" href="index.html">Info</a></li>
							<li><a class="download" href="index.html">Download</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="index.html"><img src="images/gallery8.jpg" alt="Image"></a>
					<div>
						<ul>
							<li><a class="view" href="index.html">View</a></li>
							<li><a class="info" href="index.html">Info</a></li>
							<li><a class="download" href="index.html">Download</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="index.html"><img src="images/gallery9.jpg" alt="Image"></a>
					<div>
						<ul>
							<li><a class="view" href="index.html">View</a></li>
							<li><a class="info" href="index.html">Info</a></li>
							<li><a class="download" href="index.html">Download</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="index.html"><img src="images/gallery10.jpg" alt="Image"></a>
					<div>
						<ul>
							<li><a class="view" href="index.html">View</a></li>
							<li><a class="info" href="index.html">Info</a></li>
							<li><a class="download" href="index.html">Download</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="index.html"><img src="images/gallery11.jpg" alt="Image"></a>
					<div>
						<ul>
							<li><a class="view" href="index.html">View</a></li>
							<li><a class="info" href="index.html">Info</a></li>
							<li><a class="download" href="index.html">Download</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="index.html"><img src="images/gallery12.jpg" alt="Image"></a>
					<div>
						<ul>
							<li><a class="view" href="index.html">View</a></li>
							<li><a class="info" href="index.html">Info</a></li>
							<li><a class="download" href="index.html">Download</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<div id="paging">
			<span class="first"><a href="index.html">First</a></span>
			<ul>
				<li class="current"><a href="index.html">1</a></li>
				<li><a href="index.html">2</a></li>
				<li><a href="index.html">3</a></li>
				<li><a href="index.html">4</a></li>
			</ul>
			<span class="last"><a href="index.html">Last</a></span>
		</div>
	</div>
	<div id="footer">
		<div>
			<div>
				<span>Blog Archive</span>
				<ul>
					<li class="first">
						<h2><a href="blog.html">Motion in the making</a></h2>
						<span class="date">Dec 03&#44; 2011</span>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed aliam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
						<a href="blog.html" class="readmore">Read more</a>
					</li>
					<li>
						<h2><a href="blog.html">Outdoor Photoshoot</a></h2>
						<span class="date">Dec 03&#44; 2011</span>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed aliam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
						<a href="blog.html" class="readmore">Read more</a>
					</li>
					<li>
						<h2><a href="blog.html">How we make it</a></h2>
						<span class="date">Dec 03&#44; 2011</span>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed aliam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
						<a href="blog.html" class="readmore">Read more</a>
					</li>
				</ul>
			</div>
		</div>
		<p class="footnote">&copy; 2010 Motion. All Rights Reserved.</p>
	</div>
</body>
</html>