<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Home - Motion Graphx</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<!--[if IE 8]>
		<link rel="stylesheet" type="text/css" href="css/ie8.css">
	<![endif]-->
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="css/ie7.css">
	<![endif]-->
	<!--[if IE 6]>
		<link rel="stylesheet" type="text/css" href="css/ie6.css">
	<![endif]-->
</head>
<body>
	<div id="header">
		<div>
			<div id="logo">
			<a href="index.html"><img src="images/logo.gif" alt="Logo"></a>
			</div>
			<div id="navigation">
				<div>
					<ul>
						<li class="current"><a href="index.html">Home</a></li>
						<li><a href="about.html">About us</a></li>
						<li><a href="gallery.html">Gallery</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contact.html">Contact us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="body">
		<div id="home">
			<div class="sidebar">
				<ul>
					<li class="first">
						<h3>The Guide book</h3>
						<a href="index.html"><img src="images/guide-book.jpg" alt="Image"></a>
						<p>Nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim minim veniam, quis nostrut exerci tation ullamcorper suscipit lobortis nisl ut aliquip. </p>
					</li>
					<li>
						<h3>E-mail us</h3>
						<a href="index.html"><img src="images/email.jpg" alt="Image"></a>
						<p>Nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim minim veniam, quis nostrut exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
					</li>
					<li>
						<h3>Best place for Photoshoots</h3>
						<a href="index.html"><img src="images/home.jpg" alt="Image"></a>
						<p>Nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim minim veniam, quis nostrut exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
					</li>
				</ul>
			</div>
			<div class="content">
				<h1>Captured Motion for Graphics</h1>
				<p>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">Forum</a>.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipsicing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere.</p>
				<p>Me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram,</p>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<div>
				<span>Blog Archive</span>
				<ul>
					<li class="first">
						<h2><a href="blog.html">Motion in the making</a></h2>
						<span class="date">Dec 03&#44; 2011</span>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed aliam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
						<a href="blog.html" class="readmore">Read more</a>
					</li>
					<li>
						<h2><a href="blog.html">Outdoor Photoshoot</a></h2>
						<span class="date">Dec 03&#44; 2011</span>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed aliam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
						<a href="blog.html" class="readmore">Read more</a>
					</li>
					<li>
						<h2><a href="blog.html">How we make it</a></h2>
						<span class="date">Dec 03&#44; 2011</span>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed aliam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
						<a href="blog.html" class="readmore">Read more</a>
					</li>
				</ul>
			</div>
		</div>
		<p class="footnote">&copy; 2010 Motion. All Rights Reserved.</p>
	</div>
</body>
</html>