<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Free Website Templates</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="central">
	<div id="header">
		<div class="sitename"><a href="http://www.freewebsitetemplates.com">Bike Riders <br />Website</a></div>
	</div>
    <ul id="navlist">
      <li><a id="n1" href="http://www.freewebsitetemplates.com"><span>Home</span></a></li>
      <li><a id="n2" href="http://www.freewebsitetemplates.com"><span>News</span></a></li>
      <li><a id="n3" href="http://www.freewebsitetemplates.com"><span>Events</span></a></li>
      <li><a id="n4" href="http://www.freewebsitetemplates.com"><span>Reviews</span></a></li>
      <li><a id="n5" href="http://www.freewebsitetemplates.com"><span>Forum</span></a></li>
      <li><a id="n6" href="http://www.freewebsitetemplates.com"><span>Contact Us</span></a></li>
      <li><a id="n7" href="http://www.freewebsitetemplates.com"><span>Links</span></a></li>
    </ul>
	<div id="content">
		<div id="leftside">
			<div id="picture1"></div>

			<div id="picture2"></div>
		</div>
		<div id="rightside">
			<h1>Bike Riders News</h1>
			<p>
				This is a template designed by <strong><a href="http://www.freewebsitetemplates.com">free website templates</a></strong> for you for free you can replace all the text by your own text. This is just a place holder so you can see how the site would look like. If you're having problems editing the template please don't hesitate to ask for help <a href="http://www.freewebsitetemplates.com/forum/">on the forum</a>. You will get help as soon as possible. You can also use the forum to tell us what you like or dislike and what you would like to see more. Your feedback is very important to us and we will do everything to fulfil your wishes. <a href="http://www.freewebsitetemplates.com">more ...</a>
			</p>
			<h1>Bike Riders News</h1>
			<p>
				This is a template designed by <strong><a href="http://www.freewebsitetemplates.com">free website templates</a></strong> for you for free you can replace all the text by your own text. This is just a place holder so you can see how the site would look like. If you're having problems editing the template please don't hesitate to ask for help <a href="http://www.freewebsitetemplates.com/forum/">on the forum</a>. You will get help as soon as possible. You can also use the forum to tell us what you like or dislike and what you would like to see more. Your feedback is very important to us and we will do everything to fulfil your wishes. <a href="http://www.freewebsitetemplates.com">more ...</a>
			</p>
			<h1>Bike Riders News</h1>
			<p>
				This is a template designed by <strong><a href="http://www.freewebsitetemplates.com">free website templates</a></strong> for you for free you can replace all the text by your own text. This is just a place holder so you can see how the site would look like. If you're having problems editing the template please don't hesitate to ask for help <a href="http://www.freewebsitetemplates.com/forum/">on the forum</a>. You will get help as soon as possible. You can also use the forum to tell us what you like or dislike and what you would like to see more. Your feedback is very important to us and we will do everything to fulfil your wishes. <a href="http://www.freewebsitetemplates.com">more ...</a>
			</p>
		</div>
		<div id="footer"><p>Powered by <!-- Do not remove this see terms of use on http://www.freewebsitetemplates.com/termsofuse.htm --><a href="http://www.freewebsitetemplates.com">Free Website Templates</a></p></div>
	</div>
	<div id="imagepreloader"><img src="images/buttonover.gif" alt="mouseover" /></div>
</div>
</body>
</html>